.conteinerproject {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 110px;

}

h3 {
    font-size: 1.7em;
    justify-content: center;
    color: #8d8e4d;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.conteinerchambre,
.livingconteiner,
.kitchenconteiner {

    display: flex;
    flex-direction: row;
    margin-right: 35PX;
    margin-left: 35px;
    justify-content: center;
    gap: 15px;
    row-gap: 10px;
    column-gap: 20px;
    width: 100%;

}

img.chambre,
.living,
.kitchen {
    border: 2px solid white;

}

.chambre,
.living,
.kitchen {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 400px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.title {
    display: flex;
    align-items: center;
    color: white;
    padding: 20px;
    font-size: 1.7em;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.tendanceconteiner {
    display: contents;
    padding-top: 140px;
    color: white;
    line-height: 1.8;
}

.titleliste {
    margin-left: 40px;
}

@media screen and (max-width: 768px) {


    .conteinerchambre,
    .livingconteiner,
    .kitchenconteiner {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }


    .tendanceconteiner {
        display: flex;
        flex-direction: column;

    }

}

@media screen and (max-width: 414px) {


    .conteinerchambre,
    .livingconteiner,
    .kitchenconteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px
    }

    .tendanceconteiner {
        display: flex;
        flex-direction: column;

    }

}